.headerDiv {
    min-height:445px;
    padding-top: 8em;
    text-align: center;
    background-color: #4071b6;
}
.bigRecycleLogo{
    font-size:600px;
    z-index: -;
    position: fixed;
    color:#4d7abc;
    bottom: .25em;
    left 1em;
}
.icon-info-sign{
    position: relative;
    left: 3.5em;
    bottom: 1.5em;
    font-size: 18px;
}
.whiteText{
    color: #fff;
}
.narrowText{
    font-weight: 100;
}
.mediumText{
    font-size: 1.3em;
}
input[type=text]{
    color: #4d7abc;
    background-color: #004b8e;
    border: none;
}
.form-control::-moz-placeholder {
    color: #4d7abc;
}
.form-control:-ms-input-placeholder {
    color: #4d7abc;
}
.form-control::-webkit-input-placeholder {
    color: #4d7abc;
}
.navbarLogo{
    width: 130px;
    color: #4d7abc;
    background-color: #fff;
}
.navbar{
    padding: 0px 20px 0px 20px;
}
.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #fff;
}
select{
    color: #4d7abc !important;
    background-color: #004b8e !important;
    border: none !important;
}
.lowerDiv{
    background-color: #4d7abc;
}
.check{
    color: #fff;
    font-weight: 200;
    font-size: 4em;
    right: .8em;
    top: .2em;
    position: relative;
}
.skyText{
    color: #8da9d2;
}
.pledgesText{
    font-size: 2.5em;
    color: #fff;
    position: relative;
    top: 1.5em;
}
.leaderboard{
    position: relative;
    top: 3.5em;
}
.progress-bar-custom{
    background-color: #004b8e;
}
.verticalLine {
    border-left: 1px solid #fff;
    height: 425px;
    position: relative;
    top: 3.5em;
    left: 6em;
}
.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
.progress {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 26px
}

.noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}
.leaderboard .row{
    padding-bottom: .5em;
}
.leaderText{
    font-size: 1.5em;
    color: #fff;
    padding-bottom: .5em ;
}
.district{
    background-color: #4071b6;
    color: #004b8e;
    border-radius: 5px 0px 0px 5px;
    padding: 3px 0px 3px 3px;
    font-weight: 700;
}

.counter{
    color: #5affa8;
    font-size: 3.4em;
}
.circle{
    width:100px;
    height:100px;
    border-radius:250px;
    border: 1px solid #fff;
    font-size:75px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background-color: #4d7abc;
    bottom: 3em;
    left:.47em;
    position: relative;
}
.goBtn{
    color: #004b8e;
}
.footer{
    color: #4071b6;
}
@media only screen and (min-width: 1000px) {
    .lowerDiv{
        height: 36em;
    }
    .footer{
        height: 4em;
    }
}

@media only screen and (max-width: 1000px) {
    .lowerDiv{
        text-align: center;
    }
    .check{
        color: #fff;
        font-weight: 200;
        font-size: 3em;
        right: .5em;
        position: relative;
    }
    .footer{
        height: 4em;
        position: relative;
        top: 5em;
    }
    .icon-info-sign{
        position: relative;
        left: 6em;
        bottom: 3.5em;
        font-size: 18px;
    }
}